<div class="row">
  <div class="col-xs-12">

    <form
      #formElem="ngForm"
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit()"
      novalidate>

      <mat-card>

        <mat-card-header>
          <div
            class="user-form-card-header-image"
            mat-card-avatar>
          </div>
          <mat-card-title>
            New User Details
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="input-form">
            <div class="row">

              <!-- Name -->
              <div class="col-xs-12">
                <mat-form-field color="accent">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    formControlName="name"
                    placeholder="Name"
                    aria-label="Name" />
                </mat-form-field>
              </div>

              <!-- Age -->
              <div class="col-xs-6">
                <mat-form-field color="accent">
                  <mat-label>Age</mat-label>
                  <input
                    matInput
                    formControlName="age"
                    maxlength="3"
                    placeholder="Age"
                    aria-label="Age" />
                  <span matSuffix>
                    years old
                  </span>
                </mat-form-field>
              </div>

              <!-- Weight -->
              <div class="col-xs-6">
                <mat-form-field color="accent">
                  <mat-label>Weight</mat-label>
                  <input
                    matInput
                    formControlName="weight"
                    maxlength="3"
                    placeholder="Weight"
                    aria-label="Weight" />
                  <span matSuffix>
                    lbs
                  </span>
                </mat-form-field>
              </div>

              <!-- Friends -->
              <div class="col-xs-12">
                <mat-form-field color="accent">
                  <mat-label>Friends</mat-label>
                  <mat-chip-list
                    #userFriendNamesChipList
                    aria-label="Friend selection">
                    <!-- chips for user friend names -->
                    <mat-chip
                      *ngFor="let userFriendName of selectedFriendNames"
                      removable="true"
                      (removed)="onRemovedUserFriend(userFriendName);">
                      {{ userFriendName }}
                      <mat-icon matChipRemove>
                        cancel
                      </mat-icon>
                    </mat-chip>
                    <!-- text input for new friend name -->
                    <input
                      #friendNameInput
                      matInput
                      formControlName="friendNameInput"
                      [matAutocomplete]="availableFriendNamesAutocomplete"
                      [matChipInputFor]="userFriendNamesChipList"
                      matChipInputAddOnBlur="false"
                      placeholder="Friends"
                      aria-label="Friends" />
                  </mat-chip-list>
                  <!-- autocomplete dropdown for available friend names -->
                  <mat-autocomplete
                    #availableFriendNamesAutocomplete="matAutocomplete"
                    (optionSelected)="onAvailableFriendSelected($event); friendNameInput.value = ''">
                    <mat-option
                      *ngFor="let friendNameOption of friendNameOptions$ | async"
                      [value]="friendNameOption">
                      {{ friendNameOption }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!isFormValid || isFormBusy">
            Add User
          </button>
          <button
            mat-raised-button
            [disabled]="isFormBusy"
            (click)="onClickPopulateRandomData()">
            Populate Random Data
            <mat-icon>shuffle</mat-icon>
          </button>
          <button
            mat-raised-button
            [disabled]="isFormBusy"
            (click)="onClickReset($event)">
            Reset
          </button>
        </mat-card-actions>

        <mat-card-footer>
          <mat-progress-bar
            *ngIf="isFormBusy"
            mode="indeterminate">
          </mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </form>

  </div>
</div>
